Repository Russ-Holloway/CoPPA-Stop-Search-Reasonable-Grounds: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-deployment.yml, azure-pipelines-infra.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-deployment.yml: any of: deployment.json
  azure-pipelines-infra.yml: any of: infra, azure-pipelines-infra.yml, but not: **/*.md
  azure-pipelines.yml: any file but: **/*.md, docs, **/README*, .gitignore, .vscode, .devcontainer

🔍 ENHANCE: Add template validation before deployment
  azure-pipelines.yml
Due: azure-pipelines.yml

🐛 FIX: PowerShell variable naming conflict
  azure-pipelines.yml
Due: azure-pipelines.yml

🔧 FIX: Repair corrupted YAML pipeline file
  azure-pipelines.yml
Due: azure-pipelines.yml

FIX: Remove Unicode characters causing Azure DevOps YAML parsing errors
  azure-pipelines.yml
Due: azure-pipelines.yml

CRITICAL FIX: Remove duplicate stages declarations in YAML
  azure-pipelines.yml
Due: azure-pipelines.yml

FIX: Update service connection names to correct values
  azure-pipelines.yml
Due: azure-pipelines.yml

FIX: Make artifact downloads conditional on Build stage success
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix Azure pipeline deployment errors
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix PowerShell variable collision and validation errors
  azure-pipelines.yml
Due: azure-pipelines.yml

Update OpenAI models to current supported versions
  azure-pipelines.yml
  infra/main.devops.parameters.json
  infra/main.production.parameters.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix OpenAI model versions for Azure deployment
  infra/main.bicep
  infra/main.devops.parameters.json
  infra/main.production.parameters.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix GPT-4o version for uksouth region compatibility
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix Azure OpenAI deployment: Change from Standard to GlobalStandard SKU
  infra/core/ai/cognitiveservices.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix additional GlobalStandard SKU in PDS template
  infra/main-pds-converted.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Trigger new build with GlobalStandard SKU fixes
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix embedding model version for text-embedding-3-small
  infra/main-pds-converted.bicep
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix deployment configuration issues
  infra/core/search/search-services.bicep
  infra/main.bicep
  infra/main.devops.parameters.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix role assignment permissions error
  infra/main.devops.parameters.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix system identity role assignment permissions
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Update OpenAI model deployments: rename and increase capacity
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Update OpenAI model capacity to 1 million TPM
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix: Add Python 3.10 runtime specification for Azure App Service
  runtime.txt
Due: azure-pipelines.yml

Fix: Reduce model capacity from 1000 to 100 TPM for dev deployment
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix: Add explicit gunicorn startup command to Azure App Service
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix: Add all missing environment variables from working deployment
  infra/main.bicep
Due: azure-pipelines-infra.yml, azure-pipelines.yml

feat: Add automated Azure AD app registration for authentication
  azure-pipelines.yml
  docs/APP-REGISTRATION-SOLUTION.md
  infra/core/security/app-registration.bicep
  infra/core/security/script-identity-roles.bicep
  infra/main.bicep
  infra/main.devops.parameters.json
  scripts/Create-AppRegistration.ps1
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix Azure DevOps pipeline script path issue
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix authentication issue in Azure AD app registration
  azure-pipelines.yml
  scripts/Create-AppRegistration-AzCli.ps1
  scripts/Create-AppRegistration.ps1
Due: azure-pipelines.yml

Fix Azure CLI script path resolution in pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

Handle insufficient privileges for Azure AD app registration
  azure-pipelines.yml
  docs/SERVICE-PRINCIPAL-PERMISSIONS.md
  scripts/Create-AppRegistration-AzCli.ps1
Due: azure-pipelines.yml

Fix Bicep template conditional logic and pipeline variable integration
  DEPLOYMENT_WORKFLOW_SUMMARY.md
  SIMPLIFIED_PREREQUISITES_APPROACH.md
  docs/APP_REGISTRATION_URI_REFERENCE.md
  docs/MANUAL_PREREQUISITES_GUIDE.md
  infra/main.bicep
  infra/main.prerequisites.parameters.json
  infra/main.prerequisites.production.parameters.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix PowerShell variable handling in pipeline
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix: Add restore parameter support for Cognitive Services soft-delete
  docs/SOFT_DELETE_FIX.md
  infra/core/ai/cognitiveservices.bicep
  infra/docprep.bicep
  infra/main.bicep
  infra/main.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix: Resolve Key Vault soft-delete and Private DNS Zone policy violations
  docs/DEPLOYMENT_FIXES_SEP2025.md
  infra/core/security/key-vault.bicep
  infra/main.bicep
  infra/main.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix: Correct restore parameter defaults for active resources
  docs/RESTORE_PARAMETERS_USAGE.md
  infra/main.bicep
  infra/main.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Fix: Enable Key Vault restore for soft-deleted vault
  infra/main.bicep
  infra/main.json
Due: azure-pipelines-infra.yml, azure-pipelines.yml

Update to Deploy to Azure Button
  README.md
Due: none

Update to Storage Account Naming
  infrastructure/deployment.json
Due: azure-pipelines.yml
